<RentalHeader>
    <h2>Contact us</h2>
    <p>Try rentals representative will be happy to help you</p>
    <p>
        <div>TRLs HQ</div>
        <div>142 OMR road</div>
        <div>Tharamani, Chennai</div>
    </p>
    <button class="btn btn-primary">Call us</button>
</RentalHeader>