{{page-title "TryRental"}}
<RentalHeader>
    <h2>Welcome to Try Rental!!!</h2>
    <p>Welcome to Try Rentals we provide various services for our client to find their best affordable rental home with just few clicks.</p>
    <LinkTo @route="about" class="btn btn-primary">About us</LinkTo>
</RentalHeader>

<Rentals @rentals={{@model}}/>
